@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}

<form method="post">
    <div class="input-group mb-3">
        <select asp-for="MunicipioSelected" asp-items="@Model.MunicipioOptions" name="idMunicipio" class="form-control">
            <option value="-1">Ver todos</option>
        </select>
        <button class="btn btn-outline-secondary" asp-page-handler="Filtro">
            Filtrar
        </button>
    </div>
</form>
<form method="post">
    <div class="input-group mb-3">
        <input asp-for="@Model.BusquedaActual" name="nombre" class="form-control">
        <button class="btn btn-outline-secondary" asp-page-handler="Buscar">
            Buscar
        </button>
    </div>
</form>

@if (Model.ErrorEliminar)
{
    <div class="alert alert-danger" role="alert">
        No se pudo eliminar el Equipo
    </div>
}
<h1>LISTADO DE EQUIPOS</h1>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="Id">Id</th>
            <th scope="Nombre">Nombre</th>
            <th scope="Municipio">Municipio</th>
            <th scope="Director Tecnico">DirectorTecnico</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <th>@equipo.Id</th>
                <td>@equipo.Nombre</td>
                <th>@equipo.Municipio.Nombre</th>
                <td>@equipo.DirectorTecnico.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">
                        Detalle
                    </a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@equipo.Id">
                        Editar
                    </a>
                                        @if (equipo.Jugadores.Count == 0)

{                          <form method="post" class="d-inline">
                            <button asp-page-handler="Delete" asp-route-id="@equipo.Id"
                        onclick="return confirm('Esta Seguro de eliminar el equipo?')" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
}
                </td>
            </tr>
        }
    </tbody>
</table>